aside > a {
	color: #eee;
	text-decoration: none;
}

aside > a > h3 {
	margin-bottom: 2px;
}

aside > a > .post-date {
	font-size: 12px;
	margin: 0;
}

aside > a > .post-preview {
	margin-top: 7px;
}
